# Example values for terraform.tfvars
aws_region            = "eu-west-2"
bastion_instance_type = "t3.micro"
web_instance_type     = "t3.micro"
db_instance_type      = "t3.small"
key_pair_name         = "keypair.pem"
admin_ip              = "102.90.115.147/32"
